body {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.container {
    width: 450px;
    height: 600px;    
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    gap: 10px;
    
}

.display {
    width: 375px;
    height: 100px;   
    background-color: lightgray; 
    border: 1px solid black;
    border-radius: 20px;

}

.buttons {
    width: 375px;
    height: 450px;
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next row */
    border: 1px solid black;
    border-radius: 10px;
    gap: 10px;
    justify-content: center; /* Center the buttons horizontally */
}

.numbers {
    display: flex;
    flex-wrap: wrap-reverse;
    border-radius: 10px;
    padding: 5px;
     /* Allow buttons to expand to fill the available space */
}

button {
    width: 93px;
    height: auto;
    flex-grow: 1;
}

.displayText {
    font-size: 40px;
}